#APLICATION VARIABLES

# indicação em qual parte do desenvol. estamos
NODE_ENV=development
PORT=3333
HOST = "0.0.0.0"

#PostgreSQL

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=aula_backend_reborn
POSTGRES_PORT=5432
SCHEMA=public

DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/aula_backend_reborn?schema=public"

HASH_SALT_ROUNDS=12

#JWT VARIABLE

JWT_SECRET = ajdajdajdjsjaxcnmdjvnds